# Exclude specific data directories
data-cleaning/
tableau-workbook/
ERD-python-script/

# Exclude Tableau temp files
*.twbr
*.twb~
.DS_Store
.Rproj.user

# Selectively allow specific files to track
!data-cleaning/cleaned-data/leeds_cycle_counts_sample.csv
!data-cleaning/cleaning-scripts/check_exact_duplicates.py